<%- include('header') %>
<!-- start: content -->

<div class="content">
    <form action="/login" method="post">
        Admin jelszó: <input type="password" name="pass">
        <input type="submit" value="Belépés">
    </form>
</div>

<!-- end: content -->
<%- include('footer') %>